# Extra config
CONFIG_ZSMALLOC=y
CONFIG_ZRAM=y
CONFIG_HWMON=y
CONFIG_SENSORS_IIO_HWMON=y
CONFIG_XILINX_DEVCFG=y

# UIO
CONFIG_UIO=m
CONFIG_UIO_PDRV_GENIRQ=m

#CONFIG_EPIPHANY=y
CONFIG_EPIPHANY=m
CONFIG_REGULATOR_ISL9305=y

# No local version. So you don't have rsync over new modules every time
# you do a git commit since version magic doesn't match...
CONFIG_LOCALVERSION=""
CONFIG_LOCALVERSION_AUTO=n

# Debug flags to disable
CONFIG_HAVE_DMA_API_DEBUG=n
CONFIG_VIDEO_ADV_DEBUG=n
CONFIG_DEBUG_INFO=n
CONFIG_DEBUG_KERNEL=n
CONFIG_HAVE_DEBUG_KMEMLEAK=n
CONFIG_SCHED_DEBUG=n
CONFIG_DEBUG_PREEMPT=n
CONFIG_DEBUG_BUGVERBOSE=n
CONFIG_DEBUG_LL=n
CONFIG_DEBUG_ZYNQ_UART1=n
CONFIG_DEBUG_UNCOMPRESS=n

# Debug
#CONFIG_DEBUG_INFO=y
#CONFIG_DEBUG_KERNEL=y
#CONFIG_COMMON_CLK_DEBUG=y
## For debugging supplies
#CONFIG_REGULATOR_VIRTUAL_CONSUMER=y

# Oprofile
#CONFIG_PROFILING=y
#CONFIG_OPROFILE=y

#Kcore
#CONFIG_PROC_KCORE=y
#CONFIG_DEBUG_INFO=y
##CONFIG_LOCK_STAT=y
#CONFIG_LOCK_STAT=n
