# Always map Parallella network interface to eth0
SUBSYSTEM=="net", ACTION=="add", DEVPATH=="/devices/*amba*/e000b000.eth*/*", DRIVERS=="?*", KERNEL=="eth*", NAME="eth0"

